* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #2b2d42;
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: white;
}

i,
svg {
  pointer-events: none;
}

.title {
  margin-top: 3rem;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.kick-pad {
  background: #fb540727;
}

.snare-pad {
  background: #ff006f21;
}

.hihat-pad {
  background: #8338ec2c;
}

.kick-pad.active {
  background: #fb5607;
}

.snare-pad.active {
  background: #ff006e;
}

.hihat-pad.active {
  background: #8338ec;
}

.sequencer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.hihat-track,
.kick-track,
.snare-track {
  display: flex;
  align-items: center;
  width: 75%;
  justify-content: space-between;
  margin-top: 3rem;
}

.kick,
.snare,
.hihat {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2em;
}

.controls button {
  padding: 1rem;
  background: #3a86ff;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pad {
  transition: all 0.5s ease;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: #3a86ff;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 3.5rem;
}

.play:hover {
  background: #3a85ff66;
}

select {
  padding: 1rem;
  font-size: 1rem;
}

.mute.active {
 background: rgb(68, 68, 68);
}

.mute:hover {
  background: #3a85ff66;
 }

.tempo {
  margin: 3rem;
  width: 30%;
}

.tempo-slider {
  padding: 0.1rem;
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  cursor: pointer;
  border-radius: 1rem;
}

.tempo p {
  font-size: 1.5rem;
  margin: 2rem;
  text-align: center;
  color: white;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
